<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="#">Stardmarkt</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-link">
                    <a class="nav-item active" href="/sing">Sing In</a>
                </li>
                <li class="nav-link">
                    <a class="nav-item" href="#">Sing Up</a>
                </li>
                <li class="nav-link">
                    <a class="nav-item" href="/ping">Usuarios</a>
                </li>
            </ul>

            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

        </div>
    </div>
</nav>

<!--<header class="navegacion">
    <div class="cont-img">
        <img class="img" src="/img/logo.png" alt="logo de la pagina">
    </div>

    <nav class="cont-navegacion">
        <ul class="list-nav">
            <li class="li"><a class="a" href="/sing"> sing in </a></li>
            <li class="li"><a class="a" href="#"> sing up </a></li>
            <li class="li"><a class="a" href="/ping"> usuarios </a></li>
        </ul>
    </nav>
    <a href="#" class="btn-a"><button class="btn"> Contact </button></a>
</header>-->