@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Aboreto';
    font-size: 20px;
}

body{
    background-color: #fff59d;
}

/* desing navegation */
.navbar {
    background-color: #1b3039;
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

.navbar .navbar-brand{
    color: #e2f1f8;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 1.5rem;
    margin-left: 0.4rem;
}
.navbar .navbar-brand:hover {
    transform: scale(1.1);
    color: #ffbc0e;
}
.nav-link {
    justify-content: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.nav-item{
    color: #eceff1;
    text-decoration: none;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.nav-item:hover{
    color: #ffbc0e;
}
/**********/
.navegacion {
    background-color: #1b3039;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.navegacion .cont-img {
    cursor: pointer;
}

.navegacion .cont-img .img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.navegacion .cont-img .img:hover{
    transform: scale(1.2);
}

.navegacion .cont-navegacion {
    list-style: none;
}

.navegacion .cont-navegacion .li{
    display: inline-block;
    padding: 0 20px;
}

.navegacion .cont-navegacion .li:hover {
    transform: scale(1.1);
}

.navegacion .cont-navegacion .a{
    font-size: 1.2rem;
    color:#eceff1;
    text-decoration: none;
}

.navegacion .cont-navegacion .li .a:hover{
    color: #ffbc0e;
}

.navegacion .btn-a .btn {
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s;
}

.navegacion .btn-a .btn:hover{
    background-color: #e2f1f8;
    color:#ffbc0e;
    transform: scale(1.1);
}
/*---------------------------------*/

#div {
    background: linear-gradient(cyan, yellow);
    color: black;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    width: 450px;
    height: 250px;
    text-align: center;
}

/*----------- Formulario ---------*/

.formulario {
    text-align: center;
    padding: 20px 20px;
    color: #e2f1f8;
    background: rgba(46, 48, 25, 0.72);
}

.formulario .div-form {
    padding: 10px 10px;
    background: rgba(0, 0, 1, 0.72);
}

.formulario .div-form .form-text{
    padding: 10px 10px;
    color: #e2f1f8;
}

.formulario .div-form .input-1{
    padding: 10px 10px;
}

.formulario .div-form .input-2{
    padding: 10px 10px;
}

.formulario .div-form .btn-access {
    text-align: center;
    height: 2.5rem;
    width: 10rem;
    background-color: #1b3039;
    color:#e2f1f8;
    padding: 0 20px;
    border: none;
    border-radius: 15%;
}

.formulario .div-form .btn-access:hover {
    color: #ffbc0e;
    background: rgba(0, 0, 5, 0.5);
    padding: 5px;
}
/*---------------------------------*/



.container{
    background:rgba(0, 0, 5, 0.72);
    width: 200px;
    height: 150px;
    text-align: center;
}

/*         Parte del index         */
.contenedor-card {
    padding: 0 20px;
    text-align: center;
}
.contenedor-card .card {
    position: relative;
    text-align: justify;
    display: inline-block;
    padding: 10px 10px;
    justify-content: center;
    margin: 1rem;
}

.contenedor-card .card .card-img-top{
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    transition: all 0.5s;
}
.contenedor-card .card .card-img-top:hover{ 
    transform: scale(0.9);
}
.contenedor-card .card .card-text{
    font-family: 'Arial';
}
.contenedor-card .card .btn-aa {
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s;
}
.contenedor-card .card .btn-aa:hover {
    background-color: #e2f1f8;
    color:#ffbc0e;
    transform: scale(1.1);
}
/*---------------------------------*/