<header class="navegacion">
    <div class="cont-img">
        <img class="img" src="/img/logo.png" alt="logo de la pagina">
    </div>

    <nav class="cont-navegacion">
        <ul class="list-nav">
            <li class="li"><a class="a" href="/"> Home </a></li>
            <li class="li"><a class="a" href="/sing"> sing in </a></li>
            <li class="li"><a class="a" href="#"> sing up </a></li>
            <li class="li"><a class="a" href="/ping"> usuarios </a></li>
        </ul>
    </nav>
    <a href="#" class="btn-a"><button class="btn"> Contact </button></a>
</header>