<!-- Navegacion de pagina -->
<%- include('./partials/nav.ejs') %>

<div class="main-lateral">
    <div class="cont-left col-2 border border-success">
        <ul>
            <li><a href="#"> Home </a></li>
            <li><a href="#"> My perfil </a></li>
            <li><a href="#"> Calendario </a></li>
            <li><a href="/lista-existencias"> Productos </a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Control Clientes </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item"> Pedidos </a></li>
                    <li><a class="dropdown-item"> Mis Clientes </a></li>
                    <li><a class="dropdown-item" href="/lista-existencias"> Existencias</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Catálogo </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item"> dashboard </a></li>
                    <li><a href="/tabla-productos" class="dropdown-item"> Tabla Productos </a></li>
                    <li><a class="dropdown-item"> ... </a></li>
                    <li><a class="dropdown-item"> ... </a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="cont-right col-10 border border-dark">
        <%- include('./views/add_product.ejs') %>
        
        <!-- Construccion de calendario -->
        <div class="calendar">
            <!-- Eventos remmovibles -->
            <div id="external-events">
                <p><strong> Draggable Events </strong></p>

                <div class="fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event">
                    <div class='fc-event-main'> Event One </div>
                </div>

                <div class="fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event">
                    <div class='fc-event-main'> Event Two</div>
                </div>

                <div class="fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event">
                    <div class='fc-event-main'> Event Threee</div>
                </div>

                <div class="fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event">
                    <div class='fc-event-main'> Event Four </div>
                </div>

                <div class="fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event">
                    <div class='fc-event-main'> Event Five</div>
                </div>

                <p>
                    <label for="drop-remove"> Remove after drop</label>
                    <input type="checkbox" id="drop-remove">
                </p>

                <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top"> Tooltip on top
                </button>
            </div> <!-- Cierre de Eventos removibles -->


            <!-- Contenedor calendario -->
            <div id="calendar" class="card"> </div>

            <div class="modal fade" id="modal-event" tabindex="-1" role="dialog" aria-labelledby="modal-eventLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="event-title"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="event-description"></div>
                        </div>
                        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div> <!-- Cierra Modal -->

        </div> <!-- Cierra Construccion calendario -->
    </div> <!-- Cierra content-right -->
</div> <!-- Cierra main-lateral -->

<!-- Navegacion de pagina -->
<%- include('./partials/footer.ejs') %>