<!-- head -->
<%- include('./partials/head.ejs') %>

<!-- Navegacion -->
<%- include('./partials/navegacion.ejs') %>
<!--
<div class="container">
    <h1> hello world!</h1>
    <div class="col">
        <p class="theme"> this is paragraht</p>
    </div>
</div>
-->
<div id="div" class="lista" name="forma">
    <p id="lista"></p>
</div>

<!-- Scripts  -->
<%- include('./partials/scripts.ejs') %>